<!doctype html>
<html lang="en">
<head>{{ partial "header.html" . }}</head>
<body class="global-font">
  {{ partial "nav.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
