{{ define "main" }}
<main class="center mv4 content-width ph3">
  <ul class="list-pages">
  <h1 class="f2 fw6 heading-font">{{ .Title }}</h1>
  {{ range (sort .Paginator.Pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
      <li class="lh-copy"><a href="{{ .Permalink | relURL }}" class="link f5">{{ .Title }}</a> - <time>{{ .Date.Format "2006/01/02" }}</time></li>
    {{end}}
  </ul>
  {{ partial "pagination.html" . }}
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}

</div>
{{ end }}
