{{ define "main" }}
<main class="center mv4 content-width ph3">
  {{ $type := .Type }}
  <h1 class="f2 fw6 heading-font">{{ .Title }}</h1>
  {{ .Content }}
<div class="list-pages list pl0">
    {{ if gt (len $.Site.Taxonomies.tags) 0 }}
        {{ $fontUnit := "rem" }}
        {{ $largestFontSize := 2.5 }}
        {{ $smallestFontSize := 1.0 }}
        {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
        {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}

            {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
                {{ $count := len $taxonomy.Pages }}
                {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
                {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
                <!--Current font size: {{$currentFontSize}}-->
                <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }}</a>
            {{ end }}
    {{ else }}
        <p>no tags found</p>
    {{ end }}

    </div>
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}